* {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            user-select:none;
        }

        html,
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: black;
            flex-direction: column;
        }

        .calci {
            background-color: #4d4f53;
            /* background-color: #e3f9ff; */
            height: 85%;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            border-radius: 10px;
            border: 4px solid rgb(112, 109, 109);
        }

        input {
            margin: 15px 0;
            height: 70px;
            width: 80%;
            background: transparent;
            text-align: end;
            padding: 6px;
            outline: none;
            border: none;
            font-size: 25px;
            /* background-color: black; */
            /* border: 3px solid rgb(112, 109, 109); */
            color: white;
            overflow:hidden;
            border-radius: 7px;
            box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.2);
            
            /* box-shadow: 3px 3px 25px rgb(112, 109, 109);
    box-shadow: -3px -3px 25px rgb(112, 109, 109); */
        }

        .col {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .button {
            cursor: pointer;
            height: 50px;
            width: 50px;
            margin: 9px;
            border-radius: 30%;
            /* border: 2px solid rgb(112, 109, 109); */
            color: white;
            /* background-color: rgb(73, 70, 70); */
            display: flex;
            align-items: center;
            background: transparent;
            justify-content: center;
            box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2); 
           /* box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2), inset -8px -8px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.2)*/;
        }

        .button:hover {
            border: 2px solid aqua;
            color: aqua;
            transition: all 0.2s ease-in-out;
        }

        .ac,
        .bc {
            background-color: rgba(187, 17, 17, 0.815);
        }

        .equal {
            background-color: rgba(17, 189, 17, 0.863);
        }
        .copyright{
          margin-top: 20px;
          color: white;
          font-size: 13px;
          display: flex;
          align-items:center;
        }
        .copyright>span{
          font-size: 20px;
          color: aqua;
          margin-left: 5px;
        }
